USE [db_QLBanSach]
GO
/****** Object:  Table [dbo].[ChuDe]    Script Date: 2/17/2026 3:52:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maChuDe] [varchar](250) NOT NULL,
	[tenChuDe] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ChuDe] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_ChuDe] UNIQUE NONCLUSTERED 
(
	[maChuDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 2/17/2026 3:52:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maDonHang] [varchar](250) NOT NULL,
	[daThanhToan] [int] NOT NULL,
	[ngayGiao] [datetime2](7) NOT NULL,
	[ngayDat] [datetime2](7) NOT NULL,
	[tinhTrangGH] [int] NOT NULL,
	[khachHangId] [int] NOT NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_DonHang] UNIQUE NONCLUSTERED 
(
	[maDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangSach]    Script Date: 2/17/2026 3:52:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangSach](
	[idDonHang] [int] NOT NULL,
	[idSach] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [decimal](10, 2) NULL,
 CONSTRAINT [PK_DonHangSach] PRIMARY KEY CLUSTERED 
(
	[idDonHang] ASC,
	[idSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 2/17/2026 3:52:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maKH] [varchar](250) NOT NULL,
	[taiKhoan] [varchar](50) NOT NULL,
	[matKhau] [varchar](50) NOT NULL,
	[email] [varchar](10) NULL,
	[diaChi] [nvarchar](255) NULL,
	[dienThoai] [varchar](25) NOT NULL,
	[gioiTinh] [int] NOT NULL,
	[ngaySinh] [datetime2](7) NOT NULL,
	[hoTen] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_KhachHang] UNIQUE NONCLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 2/17/2026 3:52:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maNSX] [varchar](250) NOT NULL,
	[tenNSB] [nvarchar](255) NOT NULL,
	[dienThoai] [varchar](25) NOT NULL,
	[diaChi] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_NhaXuatBan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_NhaXuatBan] UNIQUE NONCLUSTERED 
(
	[maNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 2/17/2026 3:52:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maSach] [varchar](250) NOT NULL,
	[tenSach] [nvarchar](255) NOT NULL,
	[soLuongTon] [int] NOT NULL,
	[ngayCapNhat] [datetime2](7) NOT NULL,
	[anhBia] [varchar](250) NOT NULL,
	[moTa] [nvarchar](255) NOT NULL,
	[giaBan] [decimal](10, 2) NOT NULL,
	[chuDeId] [int] NOT NULL,
	[nhaXuatBanId] [int] NOT NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Sach] UNIQUE NONCLUSTERED 
(
	[maSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 2/17/2026 3:52:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maTacGia] [varchar](250) NOT NULL,
	[tenTacGia] [nvarchar](255) NOT NULL,
	[dienThoai] [varchar](25) NULL,
	[tieuSu] [nvarchar](255) NOT NULL,
	[diaChi] [nvarchar](255) NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_TacGia] UNIQUE NONCLUSTERED 
(
	[maTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGiaSach]    Script Date: 2/17/2026 3:52:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGiaSach](
	[idTacGia] [int] NOT NULL,
	[idSach] [int] NOT NULL,
	[vaiTro] [varchar](50) NOT NULL,
	[viTri] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TacGiaSach] PRIMARY KEY CLUSTERED 
(
	[idTacGia] ASC,
	[idSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([khachHangId])
REFERENCES [dbo].[KhachHang] ([id])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[DonHangSach]  WITH CHECK ADD  CONSTRAINT [FK_DonHangSach_DonHang] FOREIGN KEY([idDonHang])
REFERENCES [dbo].[DonHang] ([id])
GO
ALTER TABLE [dbo].[DonHangSach] CHECK CONSTRAINT [FK_DonHangSach_DonHang]
GO
ALTER TABLE [dbo].[DonHangSach]  WITH CHECK ADD  CONSTRAINT [FK_DonHangSach_Sach] FOREIGN KEY([idSach])
REFERENCES [dbo].[Sach] ([id])
GO
ALTER TABLE [dbo].[DonHangSach] CHECK CONSTRAINT [FK_DonHangSach_Sach]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_ChuDe] FOREIGN KEY([chuDeId])
REFERENCES [dbo].[ChuDe] ([id])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_ChuDe]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NhaXuatBan] FOREIGN KEY([nhaXuatBanId])
REFERENCES [dbo].[NhaXuatBan] ([id])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NhaXuatBan]
GO
ALTER TABLE [dbo].[TacGiaSach]  WITH CHECK ADD  CONSTRAINT [FK_TacGiaSach_Sach] FOREIGN KEY([idSach])
REFERENCES [dbo].[Sach] ([id])
GO
ALTER TABLE [dbo].[TacGiaSach] CHECK CONSTRAINT [FK_TacGiaSach_Sach]
GO
ALTER TABLE [dbo].[TacGiaSach]  WITH CHECK ADD  CONSTRAINT [FK_TacGiaSach_TacGia] FOREIGN KEY([idTacGia])
REFERENCES [dbo].[TacGia] ([id])
GO
ALTER TABLE [dbo].[TacGiaSach] CHECK CONSTRAINT [FK_TacGiaSach_TacGia]
GO
