@page "/award"
@layout MainLayout

<div class="section">
<h2 class="title">Awards & Recognitions</h2>
<ul>
	<li>Microsoft Certified: Azure Solutions Architect Expert (2023)</li>
	<li>Employee of the Year, TechVision Solutions (2022)</li>
	<li>Best Agile Team Lead, Cybersoft Annual Awards (2021)</li>
	<li>Outstanding Project Delivery, Global FinTech Project (2020)</li>
	<li>Microsoft MVP – Developer Technologies (2019)</li>
	<li>Top 5 Finalist, Vietnam Software Excellence Awards (2018)</li>
</ul>
</div>