@page "/education"
@layout MainLayout

<div class="edu-section">
	<h2 class="edu-title">EDUCATION</h2>

	<div class="edu-item">
		<div class="edu-item-header">
			<div>
				<span class="edu-degree">Microsoft Certified: Azure Solutions Architect Expert</span><br />
				<span class="edu-institution">Microsoft</span>
			</div>
			<span class="edu-date">2023</span>
		</div>
	</div>

	<div class="edu-item">
		<div class="edu-item-header">
			<div>
				<span class="edu-degree">Scrum Master Certification</span><br />
				<span class="edu-institution">Scrum.org</span>
			</div>
			<span class="edu-date">2025</span>
		</div>
	</div>
</div>
