@page "/interests"
@layout MainLayout

<div class="section">

<h2 class="title">Interests</h2>
<ul>
	<li class="list-inline-item">Cloud Computing & Azure Architecture</li>
	<li class="list-inline-item">Agile Methodologies & Team Building</li>
	<li class="list-inline-item">Open Source Contribution</li>
	<li class="list-inline-item">Mentoring and Coaching Developers</li>
	<li class="list-inline-item">Public Speaking at Tech Conferences</li>
	<li class="list-inline-item">Reading technology blogs and books</li>
	<li class="list-inline-item">Traveling and exploring new cultures</li>
	<li class="list-inline-item">Photography</li>
</ul>
</div