@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

body,
html {
    font-family: Hind, sans-serif;
    color: #212529;
    line-height: 1.5;
    background-color: #fff
}

.heading {
    max-width: 750px
}

.heading h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600
}

.heading p {
    color: #585858;
    line-height: 24px
}

a.active {
    color: var(--bs-success) !important;
}

.header .navbar-nav {
    gap: 10px;
}

.header .navbar-nav li {
    position: relative;
}

.header .navbar-nav li::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    left: 5px;
    margin: 0 auto;
    background: green;
    transition: all 0.5s;
}

.header .navbar-nav li:hover::after {
    width: 85%;
    transition: all 0.5s;
}



.carousel-demo {
    max-height: 800px;
}

.carousel-demo .carousel-item .img-carousel {
    height: 800px;

}

.carousel-demo .carousel-inner .carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.carousel-demo .carousel-inner .carousel-caption {
    z-index: 2;
    margin-bottom: 1rem;
}

.header {
    z-index: 10;
}



.carousel-indicators .active {
    opacity: 1;
    background: green !important;
    width: 20px;
    border-radius: 50%;
}

.carousel-indicators [data-bs-target] {
    background: gray;
    width: 20px;
    border-radius: 50%;
}

/*project*/
.projects .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--bs-success);
}


.projects .card:hover .card-body {
    border: 1px solid var(--bs-success) !important;
    transition: border 0.5s;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


.projects .tab-pane .card {
    animation: display-zoom-item 1s;
}



@keyframes display-zoom-item {
    0% {
        transform: scale(0, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}


.available {
    background: url(/resource/3.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative
}

.overlay {
    background: rgba(39, 43, 54, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.feature {
    background: url(../resource/3.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0 120px;
    background-attachment: fixed;
    position: relative
}

.feature .overlay {
    background: rgba(7, 10, 12, .72)
}

.feature .heading {
    position: relative
}

.feature__item {
    padding: 40px 40px;
    transition: .3s;
    border-radius: 10px;
    background: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(3px);
    transition: all .5s
}

.feature__item i {
    font-size: 48px;
    color: #35a22c
}

.feature__item h4 {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    padding-top: 25px;
    font-weight: 800
}

.feature__item p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #fff
}

.feature__item:hover {
    background: #000;
    border-color: #fff
}


.available .card {
    background: rgba(45, 45, 45, 0.5);
    backdrop-filter: blur(5px);
    transition: all 0.5s;
}

.available .card:hover {
    cursor: pointer;
    border: 1px solid #fff !important;
    transition: all 0.5s;
    background: #000;
}

.award {
    position: relative;
    color: #585858;
    padding: 70px 0
}

.award__bg {
    background-image: url(../resource/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.award__left {
    background: rgba(255, 255, 255, .25);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .18);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
    padding: 45px;
    margin-left: 120px
}

.award__right {
    padding: 45px 0
}

@media screen and (max-width:575.98px) {
    .award__bg {
        background-size: cover
    }
}

footer {
    background: #222
}

footer a {
    color: #aaa
}

footer p {
    color: #aaa;
    margin: 0
}

footer a:hover {
    text-decoration: none;
    color: #35a22c
}

.footer__main i {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all .5s
}

.footer__main a {
    margin-right: 10px
}

.footer__main a:last-child {
    margin-right: 0
}

.footer__copies {
    border-top: 1px solid #454545;
    padding-top: 30px;
    margin-top: 30px
}

.footer__main i:hover {
    border-color: #35a22c
}

.carousel-demo .carousel-caption .img-profile {
    animation: fadeUp 1s;
    opacity: 0;
    animation-fill-mode: both;
}

.carousel-demo .carousel-caption h5 {
    animation: fadeUp 1.5s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: both;

}

.carousel-demo .carousel-caption p {
    animation: fadeUp 1s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: both;
}


@keyframes fadeUp {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


.text-active {
    color: red;
}